.execute-operation-container {
    grid-column: 1;
    grid-row: 1;
    overflow-y: hidden;
}

.execute-operation-container-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: .25rem;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
}
